.faqContainer {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	color: #bdbeca;
	@media screen and (max-width: 576px) {
		max-width: 100%;
		padding: 8px;
	}
}

.faqHeader {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-bottom: 20px;
}

.divider {
	margin: 10px 0;
	border-width: 1.5px;
	text-align: center;
}

.quote {
	font-style: italic;
	margin-block: 10px;
	padding: 15px 20px;
	border-block: 2px solid white;
}

.faqSection {
	background-color: #232121;
	padding: 8px 16px;
	border-radius: 12px;
	h2 {
		color: #c8c8c8;
		border-bottom: 1px solid #ddd;
		margin-bottom: 1rem;
		padding-bottom: 5px;
		text-wrap: balance;
	}

	ul {
		list-style: initial;
	}

	ul,
	ol {
		padding-left: 20px;

		li {
			margin-bottom: 8px;
		}
	}
}
code {
	background-color: #323232;
	border-radius: 0.25em;
	padding: 2px 4px;
	font-family: monospace;
}
.discordContainer > * {
	margin: 0 auto;
}

.warning {
	color: #d9534f;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}
