.articles__container:has(.article:hover) .article:not(:hover) {
    opacity: 0.5;
    filter: blur(1px);
    transition: 
        opacity 250ms ease-in-out,
        filter 250ms ease-in-out;
}

.article {
    display: block;
    transition: 
        opacity 250ms ease-in-out,
        transform 250ms ease-in-out;
}

.article:hover {
    opacity: 1;
}